/* homepage styles */

form {
  box-sizing: border-box;
  margin: auto;
  max-width: 400px;
  padding: 10px;
}

label {
  font-size: 2rem;
  color: #333;
  margin: 15px;
  padding: 20px; 
}

input {
  padding: 10px;
  margin: 20px; 
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px;
  margin: 20px; 
  background-color: yellow;
  color: black;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h3 {
  text-align: center;
  font-size: 2.225rem;
}

#productBody {
  border: 3px solid #0053E2;
  border-radius: 20px;
  margin: 0 auto;
  width: 65rem;
  top: 50px;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.product {
  text-align: center;
}

.productImg {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}
